<div class="jumbotron flex-container" style="background-color:black; color:whitesmoke; opacity:0.85; border-style:ridge; border-width:3px;">
    <h1 class="display-4 poppins" id="explore-debate-topic" style="color:darkgoldenrod;"></h1>
    <hr class="my-4" style="border-color:white !important;">
    
    <h3 class="poppins" style="color:darkgoldenrod;">Debate Description:</h3>
    <h5 class="poppins" id="explore-debate-description"></h5>
    
    <br>

    <div class="row justify-content-center poppins">
        <div class="card col-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Debate Content</h5>
                <div id="explore-message-display"></div>
            </div>
        </div>
    </div>
    
    <br>
    <br>
</div>