
<div class="landing-page page-view">
    
    {{!-- header --}}
    <div class="jumbotron">
        <h1 class="display-4 rock-salt">Debatable</h1>
        <hr class="my-4">
        <p class="lead poppins">The ultimate app to share perspectives!</p>
        <a class="btn btn-primary btn-lg poppins explore-debate-button" href="/explore" role="button">Explore</a>
    </div>
    
    {{!-- three sample debates --}}
    <div class="card-deck poppins">
        <div class="card card-background-color">
            <img class="card-img-top" src="https://news.utexas.edu/sites/default/files/styles/news_article_main_image/public/photos/gun_control_830.jpg?itok=jvCefLBq"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gun Control</h5>
                <p class="card-text">Should concealed carry be permitted?</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card card-background-color">
            <img class="card-img-top" src="https://pbs.twimg.com/media/CTfqqSiWsAAIQm7.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Abortion</h5>
                <p class="card-text">Should abortion be a legal practice?</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card card-background-color">
            <img class="card-img-top" src="https://www.intelligencesquaredus.org/sites/default/files/debates/103-death-penalty-debate.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Death Penalty</h5>
                <p class="card-text">Should the death penalty be permitted?</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
</div>