<div class="log-in-box page-view col-md-6"style="background-color:black; color:whitesmoke; opacity:0.90; border-style:ridge; border-width:3px;">
    <h1 class="rock-salt">Log In</h1>
    <hr class="my-4">
    <form class="poppins" id="log-in-form">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="log-in-username" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="log-in-password" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Log In</button>
    </form>
</div>
