<div class="jumbotron flex-container">
    <h1 class="display-4 rock-salt" id="debate-topic"></h1>
    <hr class="my-4">

    <br>

    <div class="row justify-content-center">
        <div class="card col-12" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Debate Content</h5>
                <div id="message-display"></div>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <form>
        <div class="form-group">
            <textarea class="form-control" id="message-input" rows="3" placeholder="What's your opinion about this topic?"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" id="post-button">Post</button>
    </form>
</div>