<div class="jumbotron flex-container">
    <h1 class="display-4 rock-salt" id="debate-topic"></h1>
    <hr class="my-4">

    <br>

    <div class="row">
        <div class="card col-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Debator 1</h5>

            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Debate Description</h5>

            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Debator 2</h5>
                
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <form>
        <div class="form-group text">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>