<div class="welcome-text user-greeting-animation" style="color:whitesmoke;">
    <h1 class="rock-salt">Hello, <span id="name-display"></span>!</h1>
    <h2 class="rock-salt">What do you want to do?</h2>
</div>

<hr class="my-4">

<div class="user-home-page page-view">
    <div class="user-home-page-wrapper d-block">
        <div class="d-flex flex-wrap justify-content-around">
            <div class="card col-md-5 card-background-color">
                <h5 class="card-header rock-salt">Create Your Own Debate</h5>
                <div class="card-body poppins">
                    <p class="card-text">Share your own perspectives with others.</p>
                    <a href="/createdebate" class="btn btn-info btn-lg">Create Now</a>
                </div>
            </div>
            <div class="card col-md-5 card-background-color">
                <h5 class="card-header rock-salt">Explore What Others Think</h5>
                <div class="card-body poppins">
                    <p class="card-text">View insights from other people on different topics.</p>
                    <a href="/explore" class="btn btn-info btn-lg">Explore Now</a>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-wrap justify-content-around">
            <div class="card col-md-5 card-background-color">
                <h5 class="card-header rock-salt">Join a Heated Discussion</h5>
                <div class="card-body poppins">
                    <p class="card-text">Express your viewpoints on an existing debate.</p>
                    <a href="/join" class="btn btn-info btn-lg">Join Now</a>
                </div>
            </div>
            <div class="card col-md-5 card-background-color">
                <h5 class="card-header rock-salt">Continue a Debate</h5>
                <div class="card-body poppins">
                    <p class="card-text">Start from where you left last time.</p>
                    <a href="/continue" class="btn btn-info btn-lg">Continue Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
