.form-group{
    width:300px;
}

hr{
    width:300px;
    text-align: left;
}

.login-box{
    width:350px;
    border:2px ridge rgba(128, 128, 128, 0.377);
    padding: 20px;
    /* position: relative; */
    left: 130px;
}