
.rock-salt{
    font-family: 'Rock Salt', cursive;
    font-style: oblique;
}

.poppins{
    font-family: 'Poppins', sans-serif !important;
}

.navbar{
    background:black !important; 
    opacity: 0.75;
    border-radius:15px;
    z-index: 1;
    border:ridge 1px; 
}

.navtext{
    color:white !important;
}

.card-background-color{
    background: #e9ecef !important;
}

.sign-up-box{
    border-radius: .3rem;
    padding: 35px;
    background: #e9ecef;
}

.log-in-box{
    border-radius: .3rem;
    padding: 35px;
    background: #e9ecef;
}

.create-debate-box{
    border-radius: .3rem;
    padding: 35px;
    background: #e9ecef;
}

.deb-pic {
    border-radius: 50%;
    position: absolute;
    right: 140px;
    top: 80px;
}

.button {
    align-content: center;
}

.logo{
    width: 65%;
    height: 65%;
    float: right;
}

.debate-message-box{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px lightgray;
    margin-bottom: 10px;
}

body{
    background-image: url("./../images/forest.jpg");
    background-size: 2000px;
}

.card{
    opacity:0.75;
}

.card-body{
    background-color:black !important;
    color:whitesmoke !important;
}

.navbar{
    color:whitesmoke !important;
}

.navbar-default {
    background-color: rgb(2, 2, 2) !important;
    border-color: #E7E7E7 !important;
}

div.carousel-inner {
    margin:0;
    padding:0;
}

div.carousel-item{
    margin:0;
    padding:0;
}

@media (max-width: 768px) {

    .display-4 {
    font-size: 2.9rem;
    font-weight: 300;
    line-height: 1.2;
    }

    .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    .header-size{
      font-size:200%;
    }

    .footer-text-size {
      font-size:100%;
    }

    footer {
    background-color: black;
    padding: 30px !important;
    color:whitesmoke; 
    opacity: 0.75;
    border:ridge 1px; 
    border-radius: 25px;
    height: 350px !important;
    width: 100%;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header-size{
      font-size:220%;
  }

  .footer-text-size {
      font-size:150%;
  }

}

.jumbotron-style{
   background-color:dimgray; 
   color:whitesmoke; 
   opacity:0.75; 
   border:ridge 1px; 
   border-radius: 25px;
}

img.slides{
    height:280px;
    border:0.5px;
    border-radius:25px;
}

/* footer */
footer {
    background-color: black;
    padding: 30px !important;
    color:whitesmoke; 
    opacity: 0.75;
    border:ridge 1px; 
    border-radius: 25px;
    height: 212px;
    width: 100%;
}

.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
  flex: 1;
}

.user-greeting-animation {
    color:#17a2b8;
    animation-name: user-greeting-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes user-greeting-animation {
    0%  {color: yellow;}
    25%  {color:#17a2b8}
    50% {color: green;}
    75% {color: white;}
}

.teamname-animation {
    color:red;
    animation-name: teamname-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes teamname-animation {
    0%  {color: red;}
    25%  {color: yellow}
    50% {color: green;}
    75% {color: blue;}
}

.card-margin {
    margin: 10px auto;
}

/* .landing-page{
    margin-top:100px;
} */