.rock-salt{
    font-family: 'Rock Salt', cursive;
    font-style: oblique;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: #e9ecef !important;
}

.card-background-color{
    background: #e9ecef !important;
}

.sign-up-box{
    border-radius: .3rem;
    padding: 35px;
    background: #e9ecef;
}

.log-in-box{
    border-radius: .3rem;
    padding: 35px;
    background: #e9ecef;
}

.create-debate-box{
    border-radius: .3rem;
    padding: 35px;
    background: #e9ecef;
}

.deb-pic {
    border-radius: 50%;
    position: absolute;
    right: 140px;
    top: 80px;
}

.button {
    align-content: center;
}

.logo{
    width: 65%;
    height: 65%;
    float: right;
}

.debate-message-box{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px lightgray;
    margin-bottom: 10px;
}

body{
    background-image: url("./../images/city1.jpg");
    background-size: 1500px;
}

.card{
    opacity:0.75;
}

.card-body{
    background-color:black !important;
    color:whitesmoke !important;
}

.navbar{
    color:whitesmoke !important;
}

.navbar-default {
    background-color: rgb(2, 2, 2) !important;
    border-color: #E7E7E7 !important;
}

@media (max-width: 768px) {

    .display-4 {
    font-size: 2.9rem;
    font-weight: 300;
    line-height: 1.2;
    }

    .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}